:root {
  --grey: #e9e9e9;
  --light-grey: #f5f5f5;
  --mid-grey: #b8b8b8;
  --slate: #2d435a;
  --light-slate: #406083;
  --dark-grey: #292929;
  --light-orange: #fdb160;
  --orange: #ef8820;
  --white: #ffffff;
  --header-height: 4.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--slate);
}

header {
  letter-spacing: 0.15em;
  border-bottom: 2px solid var(--orange);
  color: var(--dark-grey);
}

main {
  min-height: calc(100% - var(--header-height));
  background-color: var(--grey);
}

header {
  width: 100%;
  padding: 1.125rem 1.5rem;
  height: var(--header-height);
}

section {
  width: 100%;
  padding: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input,
select,
textarea,
.radio-group,
.react-select__control {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--slate);
  background: var(--light-grey);
  accent-color: var(--slate);
}
.react-select__control--is-focused {
  box-shadow: 0 0 0 1px black !important;
}
.react-select__control,
.react-select__option {
  cursor: pointer !important;
}
.react-select__placeholder {
  color: #818181 !important;
}
.react-select__menu {
  background: var(--light-grey);
  border: 1px solid var(--slate);
  border-radius: 10px;
  margin-top: 0.25rem;
}
.react-select__menu-list {
  max-height: 150px !important;
  padding: 0.25rem !important;
  overflow-y: auto;
}

input[type='radio'] {
  margin-right: 0.25rem;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  border: none;
  color: var(--white);
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
.btn:hover {
  opacity: 0.85;
}
.btn:disabled {
  cursor: initial;
  opacity: 0.6;
}
.btn.btn-primary {
  letter-spacing: 0.1em;
  font-weight: 600;
  background: var(--orange);
  font-size: 1.125rem;
  height: 2em;
}
.btn.btn-secondary {
  letter-spacing: 0.025em;
  background: var(--light-slate);
  padding: 0.2em;
}
.btn-link {
  display: inline-block;
}

.form {
  display: grid;
  gap: 1.25rem;
  @media (min-width: 660px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
}
.label.label-inline {
  font-weight: 500;
  font-size: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input.custom-number {
  width: clamp(100px, 100%, 250px);
}

.radio-group {
  height: 100%;
}

.card {
  border-radius: 10px;
  border: 1px solid var(--slate);
  padding: 1.25rem;
  background: var(--white);
}

.card.book {
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.book .img {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.book .author-name {
  margin-top: 0.2em;
}

.book .topics {
  display: flex;
  gap: 0.4em;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.875rem;
  padding: 0.15em 0.5em;
  border-radius: 20px;
  white-space: nowrap;
}

.tag.topic {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.tag.downloads {
  color: var(--white);
  background: var(--mid-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.tag.downloads span {
  margin-left: 0.5em;
}

.btn-page {
  cursor: pointer;
  font-weight: 600;
  color: var(--slate);
  padding: 0.15em 0.25em;
  border-radius: 4px;
  border: 1px solid var(--mid-grey);
}
.btn-page:disabled {
  cursor: initial;
  opacity: 0.5;
}

.btn-page.current {
  opacity: 1;
  border: 1px solid var(--orange);
  background: var(--light-grey);
}

.txt-cntr {
  text-align: center;
}

.txt-dark {
  color: var(--dark-grey);
}

.centered-content {
  width: clamp(350px, 100%, 1000px);
  margin: 0 auto;
}

.fill-row {
  grid-column: 1 / -1;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.align-cntr {
  align-items: center;
}
.align-self-cntr {
  align-self: center;
}
.just-cntr {
  justify-content: center;
}
.just-space-btw {
  justify-content: space-between;
}
.no-wrap {
  flex-wrap: nowrap;
}

.bold {
  font-weight: 600;
}

.normal {
  font-weight: 500;
}
